
img{
    margin: 5px;
    width: 80px;
    height: 100px;;
}

table td {
    border-left: 1px solid rgba(54, 54, 54, 0.699);
    border-right: 1px solid rgba(54, 54, 54, 0.699);
}


table th {
    border-left: 1px solid rgba(248, 246, 246, 0.699);
    border-right: 1px solid rgba(233, 230, 230, 0.699);
}

